body {
    margin: 0;
    display:flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: #D9D9D9;
    width: 100%;
    min-height: 900px;
    background-image: url(../Assets/Background-container-1-cortado.png);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
}

.nav-css{
    background-color: transparent;
}
.navbar {
    background: white;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    height: 45px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
}

/* Iconos del nav bar */
.icons i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

/* responsiva */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
}


/* Css david*/
.container-sobre-nosotros {
    display: flex;
    /*background-color: aquamarine;*/
    width: 100%;
    min-height: 200px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    min-height: 350px;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/* footer */

footer {
    margin-top: auto;
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer-col {flex: 1;
}
.footer-col h3 {
    margin-bottom: 10px;
}
.social-icons i {
    font-size: 20px;
    margin-right: 10px;
}



.contenedor-cards2 {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.card2 {
  width: 250px;
  height: 400px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s ease;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.card2:hover {
  transform: translateY(-6px);
}

.card2 img {
  width: 70%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.8rem;
}

.card2 h3 {
  margin: 0;
  /*color: #002B5B;*/
  /*color: #ffb3c6;*/

  color: #ff9eb5;
  font-size: 1.2rem;
}

.card2 p {
  margin-top: 0.5rem;
  color: #555;
  font-size: 0.95rem;
}
.titulo {
  text-align: center;
  font-size: 2rem;        
  color: #4da6ff;         
  font-weight: 600;
}


