/* 
rosado #FF9FD7
azul #7FB6FF
gris #D9D9D9
naranja #FFB473
verde #5FDAB8
amarillo #E5E56A
 */


#seccion-Lorena{
    display: flex;
    flex-flow: row wrap-reverse;
    width: 100%;
    height: auto;
    padding: 8%;
}

#container-textos{
    display: flex;
    width: 50%;
    min-width: 350px;
    align-items: center;
    
}
.tab-content{
    display: flex;
    align-items: center;
    background-color: #ffffff41;
    height: 40%;
    padding: 20px;
    border-radius: 20px;
    font-weight:600;
    box-shadow: 0 0 10px #e5e56a7a;
    color:#ffffff ;
}

#mision{
    display: none;
}
#historia{
    display: none;
}

#container-imagen-botones{
    display: flex;
    flex-flow: column;
    width: 50%;
    min-width: 350px;
    padding: 1%;
    
}

.container-botones{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.boton{
    margin-left: 15px;
    width: 25%;
    min-height: 40px;
    background-color: #E5E56A;
    border-radius: 20px;
    border: 2px solid #E5E56A;
    color: #bf155c;
    font-weight: bold;
    
}
.boton:hover{
box-shadow: 0 0 10px #E5E56A;
width: 26%;
min-height: 41px;
}

/* container imagen*/
.about-image{
    border-radius: 20px;
    border: 2px solid #E5E56A;
    overflow: hidden;
    box-shadow: 0 0 10px #e5e56a9f,
    inset 0 0 40px #0000009f
    ;
}

#imagen-helado{
    width: 100%;
}