body {
    margin: 0;
    display:flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: #D9D9D9;
    width: 100%;
    min-height: 900px;
    background-image: url(../Assets/Background-container-1-cortado.png);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
}


h1, h2, h3, .titulo, .header-title {
    font-family: 'Pacifico', cursive;
}

body, p, span, li, a, .texto {
    font-family: "Nunito", sans-serif;
}

.nav-css{
    background-color: transparent;
}
.navbar {
    background: white;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    height: 45px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
}

/* Iconos del nav bar */
.icons i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

/* responsiva */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
}



/* Sección sobre nosotros */
#titulo-pagina {
    width: 100%;
    text-align: center;
}

#quienes-somos {
    font-size: 80px;
    color: #bf155c;
    font-weight: 400;
    margin-bottom: 20px;
}

#seccion-banner-quienes-somos {
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    padding: 20px 0;
}

#container-textos,
#container-imagen-botones {
    width: 50%;
    min-width: 350px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-botones {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

.boton {
    width: 33%;
    min-height: 40px;
    background-color: #E5E56A;
    border: 2px solid #E5E56A;
    border-radius: 20px;
    font-weight: 700;
    color: #bf155c;
    cursor: pointer;
}

.boton:hover,
.boton.active {
    box-shadow: 0 0 10px #E5E56A;
}

.tab-content {
    display: none;
    background-color: #ffffff70;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #e5e56a7a;
    font-weight: 600;
    text-align: center;
}

.tab-content.active {
    display: block;
}

.about-image {
    border-radius: 20px;
    border: 2px solid #E5E56A;
    overflow: hidden;
    box-shadow: 0 0 10px #e5e56a9f, inset 0 0 40px #00000040;
}

#imagen-helado {
    width: 100%;
}

/* cards equipo */

.contenedor-cards2 {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.card2 {
    width: 200px;
    height: 440px;
    background: #ffffff;
    
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.2s ease;
}

.card2:hover {
  transform: translateY(-6px);
}

.card2 img {
  width: 70%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.8rem;
}

.card2 h3 {
  margin: 0;
  /*color: #002B5B;*/
  /*color: #ffb3c6;*/

  color: #ff9eb5;
  font-size: 1.2rem;
}

.card2 p {
  margin-top: 0.5rem;
  color: #555;
  font-size: 0.95rem;
}
.titulo {
  text-align: center;
  font-size: 2rem;        
  color: #4da6ff;         
  font-weight: 600;
}


/* footer */


.footer {
    background-color: #fef0f6;   
    color: #333;
    padding: 40px 20px;
    margin-top: auto;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 220px;
}

.footer-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-text {
    margin-top: 5px;
}


.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

.footer-links li a:hover {
    opacity: 0.6;
}


.footer-social {
    display: flex;
    gap: 12px;
    margin: 12px 0;
}

.social-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    transition: 0.25s;
}


.social-btn.instagram { background: #E1306C; }
.social-btn.tiktok     { background: #000; }
.social-btn.facebook   { background: #1877F2; }
.social-btn.email      { background: #ff7fbf; }

.social-btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

/* copyright */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.85rem;
    opacity: 0.7;
    border-top: 1px solid #00000020;
    padding-top: 15px;
}




/* 
rosado #FF9FD7
azul #7FB6FF
gris #D9D9D9
naranja #FFB473
verde #5FDAB8
amarillo #E5E56A
 */

#quienes-somos {
    
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    color: #bf155c;
}

#titulo-pagina {
    width: 100%;
    height: auto;
    text-align: center;
    align-content: center;
}

#seccion-banner-quienes-somos {
    display: flex;
    flex-flow: row wrap-reverse;
    width: 100%;
    height: auto;
}

#container-textos {
    display: flex;
    flex-flow: column;
    width: 50%;
    min-width: 350px;
    align-items: center;
    justify-content: center;
    padding: 1%;

}

#titulo-txt {
    
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    color: #bf155c;

}

.tab-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #ffffff41;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 0 10px #e5e56a7a;
    color: #bf155c;
}

#txt-mision {
    display: none;
}

#txt-historia {
    display: none;
}

#container-imagen-botones {
    display: flex;
    flex-flow: column;
    width: 50%;
    min-width: 350px;
    padding: 1%;

}

.container-botones {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 80%;
}

.boton {
    margin-left: 15px;
    width: 45%;
    min-height: 40px;
    background-color: #E5E56A;
    border-radius: 20px;
    border: 2px solid #E5E56A;
    color: #bf155c;
    font-weight: bold;

}

.boton:hover {
    box-shadow: 0 0 10px #E5E56A;
    width: 47%;
    min-height: 41px;
}

/* container imagen*/
.about-image {
    border-radius: 20px;
    border: 2px solid #E5E56A;
    overflow: hidden;
    box-shadow: 0 0 10px #e5e56a9f,
        inset 0 0 40px #0000009f;
}

#imagen-helado {
    width: 100%;
}


/*Desde aca empieza el estilo de pagina contactenos*/

/*contactanos*/
.seccion-contacto    {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px;
    
}


/* Caja izquierda */
.contacto-form {
    width: 100%;
    max-width: 450px;
    background: #f3f3f3;
    padding: 40px;
    border-radius: 15px;
    border: 2px solid #c5c5c5;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
}

.contacto-form h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 25px;
}

.contacto-form form input,
.contacto-form form textarea {
    padding: 14px 18px;
    border-radius: 12px;
   
}

.contacto-form textarea {
    height: 120px;
    resize: none;
}

#btn-enviar {
    width: 100%;
    padding: 12px;
    background: #f8b6d0;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}

#btn-enviar:hover {
    background: #f09aba;
}


/* formulario */
.contacto-form h2 {
  font-size: 32px;
  margin-bottom: 25px;
}

.contacto-form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacto-form input,
.contacto-form textarea {
 width: 100%;
 max-width: 360px;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #c5c5c5;
  font-size: 16px;
  background: #fffafc;
  
}
.contacto-form textarea {
    height: 120px;
    resize: none;
}

/* BOTONES */
.btn-enviar {
  width: 100%;
  max-width: 360px;
  background: #f6b3d0;
  border: none;
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.btn-whatsapp {
  display: block;
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
  background: #25d366;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 600;
}

/* IMAGEN */
.contacto-imagen img {
  width: 100%;
  max-width: 420px;
  border-radius: 10px;
  display: block;
}

.direccion {
  margin-top: 12px;
  font-size: 16px;
  color: #444;
  text-align: center;
}

/* Botón para abrir Freguntas frecuentas */
.btn-faq-toggle {
    width: 100%;
    max-width: 420px;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #bf155c;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
}

.btn-faq-toggle:hover {
    background-color: #a3134f;
}

.FAQs{
    display: flex;
    align-items: center;
    flex-flow: column;
}
/* Contenedor de preguntas frecuentes*/
.faq-box {
    display: none;
    margin-top: 25px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000022;
    width: 90%;
}
.faq-box.active {
    display: block;
}


/* Preguntas */
.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    text-align: left;
    background: #f1f1f1;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}

.faq-answer {
    display: none;
    padding: 10px 15px;
    background: #ffffff;
}

.faq-answer.open {
    display: block;
}

@media (max-width: 768px) {
    .contacto-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .contacto-form {
        width: 100%;
        max-width: 400px;
    }
}
/*Aca empieza el estilo de la pagina catalogo*/

/*Aca queda el estilo de la seccion catalogo fijo */
#seccion-catalogo-fijo{
    width: 100%;
    height: auto;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
}

.container-cards-fijas{
    width: 90%;
    height: auto;
    min-width: 320px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-content: center;
    background-color: #0000003b;
    border-radius: 20px;
    
}

.tarjeta-producto{
    width: 20%;
    min-width: 150px;
    height: 250px;
    margin: 1%;
    background-color: rgba(255, 255, 255, 0.363);
    border-radius: 20px;
}
/* ===== Aqui va el BANNER ===== */
#banner {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.titulo-banner {
    font-family: 'Pacifico', cursive;
    color: #c9226b;
    font-size: 42px;
}

.subtitulo-banner {
    font-family: 'Nunito', sans-serif;
    color: #b63767;
    font-size: 18px;
    max-width: 550px;
    margin: 10px auto;
}

.icono-banner {
    width: 50px;
    margin-top: 10px;
}
