body {
    margin: 0;
    background-color: #D9D9D9;
    width: 100%;
    min-height: 900px;
    background-image: url(../Assets/Background-container-1.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar {
    background: white;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    height: 45px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
}

/* Iconos del nav bar */
.icons i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

/* responsiva */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
}


body {
    margin: 0;
}

/* Css david*/
.container-sobre-nosotros {
    display: flex;
    background-color: aquamarine;
    width: 100%;
    min-height: 200px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    min-height: 350px;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}