body {
    margin: 0;
    display:flex; 
    flex-direction: column; 
    min-height: 100vh; 
    background-color: #D9D9D9;
    width: 100%;
    min-height: 900px;
    background-image: url(../Assets/Background-container-1-cortado.png);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;
    
}
h1, h2, h3, .titulo, .header-title {
    font-family: 'Pacifico', cursive;
}
body, p, span, li, a, .texto {
    font-family: "Nunito", sans-serif;
}

.nav-css{
    background-color: transparent;
}
.navbar {
    background: white;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    height: 45px;
}


.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu li a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
}

/* Iconos del nav bar */
.icons i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
}

/* responsiva */
@media (max-width: 768px) {
    .menu {
        display: none;
    }
}


/* Css david*/
.container-sobre-nosotros {
    display: flex;
    /*background-color: aquamarine;*/
    width: 100%;
    min-height: 200px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    min-height: 350px;
}

.card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/* footer */


.footer {
    background-color: #fef0f6;   
    color: #333;
    padding: 40px 20px;
    margin-top: auto;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    min-width: 220px;
}

.footer-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-text {
    margin-top: 5px;
}


.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}

.footer-links li a:hover {
    opacity: 0.6;
}


.footer-social {
    display: flex;
    gap: 12px;
    margin: 12px 0;
}

.social-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    transition: 0.25s;
}


.social-btn.instagram { background: #E1306C; }
.social-btn.tiktok     { background: #000; }
.social-btn.facebook   { background: #1877F2; }
.social-btn.email      { background: #ff7fbf; }

.social-btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

/* ===== COPYRIGHT ===== */
.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.85rem;
    opacity: 0.7;
    border-top: 1px solid #00000020;
    padding-top: 15px;
}